.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: var(--theme-color-a);
  font: Inter;
}

html {
  --theme-color-a: #84a59d;
  --theme-color-b: #f7ede2;
  --theme-color-c: #4a5759;
  --theme-color-d: #e0e6eb;
  --theme-color-e: #e0e6eb;
}

html[data-theme=dark] {
  --theme-color-a: #5A4859;
  --theme-color-b: #e0e6eb;
  --theme-color-c: #e0e6eb;
  --theme-color-d: #e0e6eb;
  --theme-color-e: #e0e6eb;
}

/*BUTTONS*/
.confirm-button {
  border-radius: 10px;
  background: var(--theme-color-c);
  color: var(--theme-color-b);
  padding: 5px 50px 5px 50px;
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s;
  border: none;
}