body {
  background-color: var(--theme-color-b);
  font: Inter;
}

html {
  --theme-color-a: #F7EDe2;
  --theme-color-b: #7F9690;
  --theme-color-c: #4a5759;
  --theme-color-d: #e7b7af;
  --theme-color-e: #f5f5f5;
}

html[data-theme=dark] {
  --theme-color-a: #5A4859;
  --theme-color-b: #e0e6eb;
  --theme-color-c: #e0e6eb;
  --theme-color-d: #e0e6eb;
  --theme-color-e: #e0e6eb;
}

/*BUTTONS*/
.confirm-button {
  border-radius: 10px;
  background: var(--theme-color-c);
  color: var(--theme-color-a);
  padding: 5px 50px 5px 50px;
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s;
  border: none;
}